<div class="collapse position-absolute bottom-0 w-100 border-2" id="collapseExample">
  <div class="card ">
    <div class="card-header d-flex w-100 align-items-center px-4 py-3">
      <ul class="list-unstyled d-flex mb-0">
        <li class="me-4">
          <button  class="fw-bold ps-1 btn p-0 btn-outline-dark border-0"><p class="m-0 d-flex align-items-center">Body Text<span class="ms-2 material-icons align-middle">
            arrow_drop_down
          </span></p></button>
        </li>

        <li class="me-4">
          <button class="btn p-0 btn-outline-dark border-0"
            ><span class="material-icons align-middle">
              format_bold
            </span></button
          >
        </li>
        <li class="me-4">
          <button class="btn p-0 btn-outline-dark border-0"
            ><span class="material-icons align-middle">
              format_italic
            </span></button
          >
        </li>
        <li class="me-4">
          <button class="btn p-0 btn-outline-dark border-0"
            ><span class="material-icons align-middle">
              format_list_bulleted
            </span></button
          >
        </li>
        <li class="me-4">
          <button class="btn p-0 btn-outline-dark border-0"
            ><span class="material-icons align-middle">
              format_list_numbered
            </span></button
          >
        </li>
        <li class="me-4">
          <button class="btn p-0 btn-outline-dark border-0"
            ><span class="material-icons align-middle">
              photo
            </span></button
          >
        </li>
        <li class="me-4">
          <button class="btn p-0 btn-outline-dark border-0"
            ><span class="material-icons align-middle">
              link
            </span></button
          >
        </li>
        <li class="me-4">
          <button class="btn p-0 btn-outline-dark border-0"
            ><span class="material-icons align-middle">
              code
            </span></button
          >
        </li>
      </ul>
    </div>

    <textarea
      class="form-control w-100 border-0 textarea px-4"
      placeholder="Reply an answer…"
      rows="7"
    ></textarea>

    <div class="d-flex my-3 pe-4">
      <button
        class="btn btn btn-outline-success me-3 ms-auto rounded-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Cancel
      </button>
      <button class="btn btn btn-success rounded-2 ">Reply</button>
    </div>
  </div>
  </div>
</div>
