.nav-item {
  .nav-link {
    border-left: 4px solid transparent;
    &:hover {
      color: $success;
      p {
        color: $success;
      }
    }
  }

  .active {
    border-left: 4px solid $success;
    span,
    p {
      color: $success;
      font-weight: bold;
    }
  }
}
